page-home {
	
}

.ion-content{
	background-color: #898
}

.ion-content h1{

	margin-bottom: 0;


}

.ion-content button ion-button{
	
}

.ion-content ion-slides{
	margin-top: 0%;
	margin-bottom: 0;

}