page-home {
	.bg{
		background: linear-gradient(to bottom, #cc0000 0 , #ff944d 	1);
	}
}

.ion-content{
	background-color: #898
}

.ion-content h1{

	margin-bottom: 0;


}

.ion-content button ion-button{
	
}

.ion-content ion-slides{
	margin-top: 0%;
	margin-bottom: 0;

}

