page-map {
    #map {

        height: 100%;
        width:100%;
        float:right;
        position:relative;
      }

      .col{
       background-color: transparent;
      	margin-top:7rem;
        padding-right: 0;
      	
      	width:30%;
      	position:absolute;

      }

      .col button{

        margin-top: 7px;
      }

}
