<!-- Generated template for the MapLayerComponent component -->
<form [formGroup]="todo" (ngSubmit)="logForm()">
  <ion-item>
    <ion-label>Todo</ion-label>
    <ion-input type="text" formControlName="title"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label>Description</ion-label>
    <ion-textarea formControlName="description"></ion-textarea>
  </ion-item>
  <ion-list radio-group formControlName="route">
      <ion-list-header>
        Language
      </ion-list-header>
    
      <ion-item>
        <ion-label>Day 1</ion-label>
        <ion-radio checked="true" value="d1.geojson"></ion-radio>
      </ion-item>
    
      <ion-item>
        <ion-label>Day 2</ion-label>
        <ion-radio value="d2.geojson"></ion-radio>
      </ion-item>
    
      <ion-item>
        <ion-label>Day 3</ion-label>
        <ion-radio value="d2.geojson"></ion-radio>
      </ion-item>
    </ion-list>
  <button ion-button (click)="submit()" [disabled]="!todo.valid">Submit</button>
</form>
