<!-- Generated template for the MapLayerComponent component -->
<ion-header>
    <ion-navbar>
        <ion-title>Map Options</ion-title>
        <ion-buttons end>
            <button ion-button icon-only (click)="dismiss()">
                <ion-icon item-right name="ios-close-outline"></ion-icon>
            </button>
        </ion-buttons>
    </ion-navbar>
</ion-header>
<ion-content>
<form [formGroup]="todo" (ngSubmit)="logForm()">

  <ion-list radio-group formControlName="route">
      <ion-list-header>
      Routes
    </ion-list-header>
       <ion-item>
             <ion-label>Day 1</ion-label>
          <ion-radio value="d1" disabled></ion-radio>
      </ion-item>
    
      <ion-item>
        <ion-label>Day 2</ion-label>
        <ion-radio value="d2" disabled></ion-radio>
      </ion-item>
    
      <ion-item>
        <ion-label>Day 3</ion-label>
        <ion-radio value="d3.json" disabled></ion-radio>
      </ion-item>

      <ion-item>
        <ion-label>Day 4</ion-label>
        <ion-radio value="d4.json" disabled></ion-radio>
      </ion-item>

      <ion-item>
        <ion-label>Day 5 </ion-label>
        <ion-radio value="Day05.kmz"></ion-radio>
      </ion-item>

      <ion-item>
        <ion-label>Day 6</ion-label>
        <ion-radio value="Day06.kmz"></ion-radio>
      </ion-item>

      <ion-item>
        <ion-label>Day 7</ion-label>
        <ion-radio value="d7.json"></ion-radio>
      </ion-item>

      <ion-item>
        <ion-label>Day 8</ion-label>
        <ion-radio value="d8.json"></ion-radio>
      </ion-item>

      <ion-item>
        <ion-label>Day 9</ion-label>
        <ion-radio value="d9.json"></ion-radio>
      </ion-item>

      <ion-item>
        <ion-label>Day 10</ion-label>
        <ion-radio value="d10.json"></ion-radio>
      </ion-item>

      <ion-item>
        <ion-label>Day 11</ion-label>
        <ion-radio value="d11.json"></ion-radio>
      </ion-item>
    </ion-list>
    <ion-list>

        <ion-item>
          <ion-label>Display Landmarks</ion-label>
          <ion-toggle formControlName="poi"></ion-toggle>
        </ion-item>
      
      </ion-list>
    <button ion-button (click)="dismiss()">Submit</button>
</form>
</ion-content>